{% extends "A2CurrencyBundle::layout.html.twig" %}

{% block currency_content %}

    <h2>Liste des Devises</h2>
    <p><a href="{{ path('a2_currency_new') }}">Créer une nouvelle devise</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un modèle</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Symobole
            </th>
        </tr>

        {% for currency in currencies %}
            <tr>
                <td>
                    {{ currency.name }}
                </td>
                <td>
                    {{ currency.symbol }}
                </td>
                <td>
                    <a href="{{ path('a2_currency_show', { 'id': currency.id }) }}">Détails</a> |
                    <a href="{{ path('a2_currency_edit', { 'id': currency.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_currency_delete', { 'id': currency.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock currency_content %}