{% extends "A2CurrencyBundle::layout.html.twig" %}

{% block currency_content %}

    <h2>Détails de la devise</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                {{ currency.name }}
            </dd>

            <dt>
                Symbole
            </dt>
            <dd>
                {{ currency.symbol }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ currency.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if currency.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ currency.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_currency_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_currency_edit', { 'id': currency.id }) }}">Modifier</a>
    </p>

{% endblock currency_content %}