{% extends "A2BrandBundle::layout.html.twig" %}

{% block brand_content %}

    <h2>Suppression de la marque</h2>

    <h3>Etes-vous sûr de vouloir supprimer cette marque ?</h3>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                {{ brande.name }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ brand.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if brand.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ brand.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>

        {{ form_start(delete_form) }}

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a href="{{ path('a2_brand_index') }}">Retour à la liste</a>
        </div>

        {{ form_end(delete_form) }}
    </div>

{% endblock brand_content %}