{% extends "A2BrandBundle::layout.html.twig" %}

{% block brand_content %}

    <h2>Détails de la marque</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                {{ brand.name }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ brand.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if brand.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ brand.userUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ brand.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_brand_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_brand_edit', { 'id': brand.id }) }}">Modifier</a>
    </p>

{% endblock brand_content %}