{% extends "A2StorehouseBundle::layout.html.twig" %}

{% block storehouse_content %}

    <h2>Liste des Entrepôts</h2>
    <p><a href="{{ path('a2_storehouse_new') }}">Créer un nouvel entrepôt</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un entrepôt</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Manager de l'entrepôt
            </th>
        </tr>

        {% for storehouse in storehouses %}
            <tr>
                <td>
                    {{ storehouse.name }}
                </td>
                <td>
                    {{ sorehouse.manager.user.name }} {{ storehouse.manager.user.lastname }}
                </td>
                <td>
                    <a href="{{ path('a2_storehouse_show', { 'id': storehouse.id }) }}">Détails</a> |
                    <a href="{{ path('a2_storehouse_edit', { 'id': storehouse.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_storehouse_delete', { 'id': storehouse.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock storehouse_content %}