{% extends "CoreBundle::layout.html.twig" %}

{% block content %}

    <h2>Liste des Utilisateurs</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un utilisateur</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
        </tr>

        {% for user in users %}
            <tr>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.lastname }}
                </td>
                <td>
                    <a href="{{ path('a2_user_show', { 'id': user.id }) }}">Détails</a> |
                    <a href="{{ path('a2_user_delete', { 'id': user.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}