{% extends "A2CustomerBundle::layout.html.twig" %}

{% block customer_content %}

    <h2>Liste des Clients</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un client</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
        </tr>

        {% for customer in customers %}
            <tr>
                <td>
                    {{ customer.name }}
                </td>
                <td>
                    {{ customer.lastname }}
                </td>
                <td>
                    <a href="{{ path('a2_customer_show', { 'id': customer.id }) }}">Détails</a> |
                    <a href="{{ path('a2_customer_edit', { 'id': customer.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_customer_delete', { 'id': customer.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock customer_content %}