{% extends "A2OrderBundle::layout.html.twig" %}

{% block orders_content %}

    <h2>Liste des Commandes</h2>
    <p><a href="{{ path('a2_orders_new') }}">Créer une nouvelle commande</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher une catégorie</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Fournisseur
            </th>
            <th>
                Modèle commandé
            </th>
            <th>
                Pour l'entrepôt
            </th>
            <th>
                Quantité
            </th>
        </tr>

        {% for order in orders %}
            <tr>
                <td>
                    {{ order.supplier.name }}
                </td>
                <td>
                    {{ order.model.name }}
                </td>
                <td>
                    {{ order.storehouse.name }}
                </td>
                <td>
                    {{ order.quantity }}
                </td>
                <td>
                    <a href="{{ path('a2_orders_show', { 'id': order.id }) }}">Détails</a> |
                    {% if order.isReceived == false %}
                        <a href="{{ path('a2_orders_edit', { 'id': order.id }) }}">Modifier</a> |
                    {% endif %}
                    <a href="{{ path('a2_orders_delete', { 'id': order.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock orders_content %}