{% extends "A2OrderBundle::layout.html.twig" %}

{% block orders_content %}

    <h2>Détails de la commande</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Fournisseur
            </dt>
            <dd>
                {{ order.supplier.name }}
            </dd>

            <dt>
                Catégorie
            </dt>
            <dd>
                {{ order.category.name }}
            </dd>

            <dt>
                Marque
            </dt>
            <dd>
                {{ order.model.brand.name }}
            </dd>

            <dt>
                Modèle
            </dt>
            <dd>
                {{ order.model.name }}
            </dd>

            <dt>
                Quantité
            </dt>
            <dd>
                {{ order.quantity }}
            </dd>

            <dt>
                Détails
            </dt>
            <dd>
                {{ order.details}}
            </dd>

            <dt>
                Entrepôt
            </dt>
            <dd>
                {{ order.storehouse.name }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ order.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if order.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ order.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}

            <dt>
                Commande reçu
            </dt>
            <dd>
                {% if order.isReceived %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </dd>
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_orders_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_orders_edit', { 'id': order.id }) }}">Modifier</a>
    </p>

{% endblock orders_content %}