{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>Price</th>
                <th>Energy</th>
                <th>Co2</th>
                <th>Gearbox</th>
                <th>Weight</th>
                <th>Power</th>
                <th>Maxspeed</th>
                <th>Year</th>
                <th>Issold</th>
                <th>Adminadd</th>
                <th>Dateadd</th>
                <th>Userupdate</th>
                <th>Dateupdate</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.color }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.energy }}</td>
                <td>{{ car.co2 }}</td>
                <td>{{ car.gearBox }}</td>
                <td>{{ car.weight }}</td>
                <td>{{ car.power }}</td>
                <td>{{ car.maxSpeed }}</td>
                <td>{{ car.year }}</td>
                <td>{% if car.isSold %}Yes{% else %}No{% endif %}</td>
                <td>{{ car.adminAdd }}</td>
                <td>{% if car.dateAdd %}{{ car.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ car.userUpdate }}</td>
                <td>{% if car.dateUpdate %}{{ car.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if car.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Create a new car</a>
        </li>
    </ul>
{% endblock %}
