{% extends "A2CarBundle::layout.html.twig" %}

{% block car_content %}

    <h2>Liste des Voitures</h2>
    <p><a href="{{ path('a2_car_new') }}">Créer une nouvelle voiture</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher une catégorie</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Catégorie
            </th>
            <th>
                Marque
            </th>
            <th>
                Modèle
            </th>
            <th>
                Année
            </th>
        </tr>

        {% for car in cars %}
            <tr>
                <td>
                    {{ car.category.name }}
                </td>
                <td>
                    {{ car.model.brand.name }}
                </td>
                <td>
                    {{ car.model.name }}
                </td>
                <td>
                    {{ car.year }}
                </td>
                <td>
                    <a href="{{ path('a2_car_show', { 'id': car.id }) }}">Détails</a> |
                    <a href="{{ path('a2_car_edit', { 'id': car.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_car_delete', { 'id': car.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock car_content %}