{% extends "A2CarBundle::layout.html.twig" %}

{% block car_content %}

    <h2>Détails de la voiture</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Catégorie
            </dt>
            <dd>
                {{ car.category.name }}
            </dd>

            <dt>
                Marque
            </dt>
            <dd>
                {{ car.model.brand.name }}
            </dd>

            <dt>
                Modèle
            </dt>
            <dd>
                {{ car.model.name }}
            </dd>

            <dt>
                Couleur
            </dt>
            <dd>
                {{ car.color }}
            </dd>

            <dt>
                Prix
            </dt>
            <dd>
                {{ car.price }} {{ car.currency.symbol }}
            </dd>

            <dt>
                Energie
            </dt>
            <dd>
                {{ car.energy }}
            </dd>

            <dt>
                Production Co2
            </dt>
            <dd>
                {{ car.co2 }}
            </dd>

            <dt>
                Boîte à vitesse
            </dt>
            <dd>
                {{ car.gearbox }}
            </dd>

            <dt>
                Poids
            </dt>
            <dd>
                {{ car.weight }}
            </dd>

            <dt>
                Puissance
            </dt>
            <dd>
                {{ car.power }}
            </dd>

            <dt>
                Vitesse max
            </dt>
            <dd>
                {{ car.maxSpeed }}
            </dd>

            <dt>
                Entrepôt
            </dt>
            <dd>
                {{ car.storehouse.name }}
            </dd>

            <dt>
                Année
            </dt>
            <dd>
                {{ car.year }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ car.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if car.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ car.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_car_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_car_edit', { 'id': car.id }) }}">Modifier</a>
    </p>

{% endblock car_content %}