{% extends "A2SupplierBundle::layout.html.twig" %}

{% block supplier_content %}

    <h2>Liste des Fournisseurs</h2>
    <p><a href="{{ path('a2_supplier_new') }}">Créer un nouveau fournisseur</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un fournisseur</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
        </tr>

        {% for supplier in suppliers %}
            <tr>
                <td>
                    {{ supplier.name }}
                </td>
                <td>
                    <a href="{{ path('a2_supplier_show', { 'id': supplier.id }) }}">Détails</a> |
                    <a href="{{ path('a2_supplier_edit', { 'id': supplier.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_supplier_delete', { 'id': supplier.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock supplier_content %}