{% extends "A2CategoryBundle::layout.html.twig" %}

{% block category_content %}

    <h2>Modification de la catégorie</h2>

    {{ form_start(edit_form) }}

    {{ form_errors(edit_form) }}
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            {{ form_label(edit_form.name, "Nom", {'label_attr': {'class': 'control-label col-md-2'}}) }}
            {{ form_errors(edit_form.name) }}
            <div class="col-md-4">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control', 'value': category.name }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>

    <p><a href="{{ path('a2_category_index') }}">Retour à la liste</a></p>

    {{ form_end(edit_form) }}

{% endblock category_content %}
