{% extends "A2CategoryBundle::layout.html.twig" %}

{% block category_content %}

    <h2>Liste des Catégories</h2>
    <p><a href="{{ path('a2_category_new') }}">Créer une nouvelle catégorie</a></p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <table align="right">
            <tr>
                <td>Rechercher une catégorie</td>
                <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
                <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
            </tr>
        </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
        </tr>

        {% for category in categories %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a href="{{ path('a2_category_show', { 'id': category.id }) }}">Détails</a> |
                    <a href="{{ path('a2_category_edit', { 'id': category.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_category_delete', { 'id': category.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock category_content %}