{% extends "A2CategoryBundle::layout.html.twig" %}

{% block category_content %}

    <h2>Détails de la catégorie</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                {{ category.name }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ category.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if category.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ category.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_category_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_category_edit', { 'id': category.id }) }}">Modifier</a>
    </p>

{% endblock category_content %}