{% extends "A2ModelBundle::layout.html.twig" %}

{% block model_content %}

    <h2>Liste des Modèles</h2>
    <p><a href="{{ path('a2_model_new') }}">Créer un nouveau modèle</a></p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un modèle</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Marque associée
            </th>
        </tr>

        {% for model in models %}
            <tr>
                <td>
                    {{ model.name }}
                </td>
                <td>
                    {{ model.brand.name }}
                </td>
                <td>
                    <a href="{{ path('a2_model_show', { 'id': model.id }) }}">Détails</a> |
                    <a href="{{ path('a2_model_edit', { 'id': model.id }) }}">Modifier</a> |
                    <a href="{{ path('a2_model_delete', { 'id': model.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock model_content %}