{% extends 'base.html.twig' %}

{% block body %}
    <h1>Model</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ model.name }}</td>
            </tr>
            <tr>
                <th>Alertvalue</th>
                <td>{{ model.alertValue }}</td>
            </tr>
            <tr>
                <th>Adminadd</th>
                <td>{{ model.adminAdd }}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{% if model.dateAdd %}{{ model.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Userupdate</th>
                <td>{{ model.userUpdate }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{% if model.dateUpdate %}{{ model.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if model.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('model_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('model_edit', { 'id': model.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
