{% extends "A2ModelBundle::layout.html.twig" %}

{% block model_content %}

    <h2>Détails du modèle</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                {{ model.name }}
            </dd>

            <dt>
                Marque
            </dt>
            <dd>
                {{ model.brand.name }}
            </dd>

            <dt>
                Valeur d'alerte
            </dt>
            <dd>
                {{ model.alertValue }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>

            <dt>
                Date d'ajout
            </dt>
            <dd>
                {{ model.dateAdd|date("d/m/Y h:m:s") }}
            </dd>

            {% if model.userUpdate is not null %}
                <dt>
                    Administateur de mise à jour
                </dt>
                <dd>
                    {{ nameUserUpdate }}
                </dd>

                <dt>
                    Date de mise à jour
                </dt>
                <dd>
                    {{ model.dateUpdate|date("d/m/Y h:m:s") }}
                </dd>
            {% endif %}
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_model_index') }}">Retour à la liste</a> |
        <a href="{{ path('a2_model_edit', { 'id': model.id }) }}">Modifier</a>
    </p>

{% endblock model_content %}