{% extends "A2StockBundle::layout.html.twig" %}

{% block stock_content %}

    <h2>Liste des Stocks disponibles</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher un model</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Modèle
            </th>
            <th>
                Entrepôt
            </th>
            <th>
                Quantité
            </th>
        </tr>

        {% for stock in stocks %}
            <tr>
                <td>
                    {{ stock.model.name }}
                </td>
                <td>
                    {{ stock.storehouse.name }}
                </td>
                <td>
                    {{ stock.quantity }}
                </td>
                <td>
                    <a href="{{ path('a2_stock_show', { 'id': stock.id }) }}">Détails</a> |
                    <a href="{{ path('a2_stock_delete', { 'id': stock.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock stock_content %}