{% extends "A2SaleBundle::layout.html.twig" %}

{% block sale_content %}

    <h2>Liste des Ventes</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align="right">
        <tr>
            <td>Rechercher une vente</td>
            <td>{{ form_widget(form.searchString, {'attr': {'class': 'form-control'}}) }}</td>
            <td><input type="submit" value="Rechercher" class="btn btn-default"></td>
        </tr>
    </table>
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>
                Nom du client
            </th>
            <th>
                Modèle acheté
            </th>
            <th>
                Date de la vente
            </th>
        </tr>

        {% for sale in sales %}
            <tr>
                <td>
                    {{ sale.customer.fullName }}
                </td>
                <td>
                    {{ sale.car.model.name }}
                </td>
                <td>
                    {{ sale.dateAdd|date("d/m/Y h:m:s") }}
                </td>
                <td>
                    <a href="{{ path('a2_sale_show', { 'id': sale.id }) }}">Détails</a> |
                    <a href="{{ path('a2_sale_delete', { 'id': sale.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock sale_content %}