{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Adminadd</th>
                <th>Dateadd</th>
                <th>Userupdate</th>
                <th>Dateupdate</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td><a href="{{ path('sale_show', { 'id': sale.id }) }}">{{ sale.id }}</a></td>
                <td>{{ sale.adminAdd }}</td>
                <td>{% if sale.dateAdd %}{{ sale.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sale.userUpdate }}</td>
                <td>{% if sale.dateUpdate %}{{ sale.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if sale.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sale_show', { 'id': sale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sale_edit', { 'id': sale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_new') }}">Create a new sale</a>
        </li>
    </ul>
{% endblock %}
