{% extends "A2CustomerBundle::layout.html.twig" %}

{% block customer_content %}

    <h2>Détails de la vente</h2>

    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Nom du client
            </dt>
            <dd>
                {{ sale.customer.name }}
            </dd>

            <dt>
                Prénom du client
            </dt>
            <dd>
                {{ sale.customer.lastname }}
            </dd>

            <dt>
                Modèle acheté
            </dt>
            <dd>
                {{ sale.car.model.name }}
            </dd>

            <dt>
                Date de vente
            </dt>
            <dd>
                {{ sale.dateAdd }}
            </dd>

            <dt>
                Administateur d'ajout
            </dt>
            <dd>
                {{ nameAdminAdd }}
            </dd>
        </dl>
    </div>
    <p>
        <a href="{{ path('a2_sale_index') }}">Retour à la liste</a>
    </p>

{% endblock customer_content %}